<div class='nav__ID'>
    <span>Unscheduled tasks</span>
    <ul>
        <li><a class="small"  href=?/sdm-ii-adverse-event-data>Adverse Event</a></li>
        <li><a class="small"  href=?/sdm-ii-concom-medication-data>Concom Medication</a></li>
    </ul>
    <span>Screening</span>
    <ul>
        <li><a class="small"  href=?/sdm-ii-s-date-data>Visit Date</a></li>
        <li><a class="small"  href=?/sdm-ii-s-screening-data>Inclusion/Exclusion Criteria</a></li>
    </ul>
    <span>Baseline</span>
    <ul>
        <li><a class="small"  href=?/sdm-ii-b-patient-background-data>Patient Background</a></li>
        <li><a class="small"  href=?/sdm-ii-b-medical-history-data>Medical History</a></li>
        <li><a class="small"  href=?/sdm-ii-b-fina-data>Finapres</a></li>
        <li><a class="small"  href=?/sdm-ii-b-nirs-data>NIRS</a></li>
<!--        <li><a class="small"  href=?/sdm-ii-b-medications-data>Medications</a></li> -->
    </ul>
</div>
<div class='nav__ID'>
        <span>Baseline PrePSG</span>
    <ul>
        <li><a class="small"  href=?/sdm-ii-b-pre-ksd-data>Karolinska Sleep Diary</a><mark class=text-danger>For how many days?</mark></li>
        <li><a class="small"  href=?/sdm-ii-b-pre-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li><a class="small" app href=?/sdm-ii-b-pre-word-pairs-set1-evening>Declarative Memory Test (Word Pairs)</a><mark class=text-danger>Is this correct?</mark></li>
        <li><a class="small" href=?/sdm-ii-b-pre-declarative-memory-test-data>Declarative Memory Test (Data Entry)</a></li>
        <li><a class="small" app href=?/sdm-ii-b-pre-word-pairs-set2-evening>Procedural Memory Test (Word Pairs)</a><mark class=text-danger>Is this correct?</mark></li>
        <li><a class="small" href=?/sdm-ii-b-pre-procedural-memory-test-data>Procedural Memory Test (Data Entry)</a></li>
        <li><a class="small"  href=?/sdm-ii-b-pre-kss-data>Karolinska Sleepiness Scale (KSS)</a></li>
        <li><a class="small" >Karolinska Drowsiness Test (KDT) with high-density EEG</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Baseline hypoxaemic challenge test</span>
    <ul>
        <li><a class="small"  href=?/sdm-ii-b-pwa-data>Pulse Wave Analysis</a></li>
        <li><a class="small"  href=?/sdm-ii-b-vr1-data>Hypercapnic Hyperoxic Ventilatory Manoeuver</a></li>
        <li><a class="small"  href=?/sdm-ii-b-fina1-data>Finapres</a></li>
        <li><a class="small"  href=?/sdm-ii-b-nirs1-data>NIRS</a></li>
        <li><a class="small"  href=?/sdm-ii-b-vr2-data>Hypercapnic Hypoxic Ventilatory Manoeuver</a></li>
        <li><a class="small"  href=?/sdm-ii-b-fina2-data>Finapres</a></li>
        <li><a class="small"  href=?/sdm-ii-b-nirs3-data>NIRS</a></li>
        <li><a class="small"  href=?/sdm-ii-b-vr3-data>Hypoxic Isocapnic Ventilatory Manoeuver</a></li>
        <li><a class="small"  href=?/sdm-ii-b-fina3-data>Finapres</a></li>
        <li><a class="small"  href=?/sdm-ii-b-nirs3-data>NIRS</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Baseline PSG</span>
    <ul>
        <li><a class="small"  href=?/sdm-ii-b-psg300-data>PSG upload</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Baseline PostPSG</span>
    <ul>
        <li><a class="small"  href=?/sdm-ii-b-post-kss-data>Karolinska Sleepiness Scale (KSS)</a></li>
        <li><a class="small" >Karolinska Drowsiness Test (KDT) with high-density EEG</a></li>
        <li><a class="small"  href=?/sdm-ii-b-post-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li><a class="small"  href=?/sdm-ii-b-post-nback1-data>1-Back</a></li>
        <li><a class="small"  href=?/sdm-ii-b-post-nback2-data>2-Back</a></li>
        <li><a class="small"  href=?/sdm-ii-b-post-stroop-text-data>Stroop Text</a></li>
        <li><a class="small"  href=?/sdm-ii-b-post-stroop-colour-data>Stroop Colour</a></li>
        <li><a class="small"  href=?/sdm-ii-b-post-lct-data>Letter Cancellation Task</a></li>
        <li><a class="small" app href=?/sdm-ii-b-post-word-pairs-set1-morning>Declarative Memory Test (Word Pairs)</a><mark class=text-danger>Is this correct?</mark></li>
        <li><a class="small" href=?/sdm-ii-b-post-declarative-memory-test-data>Declarative Memory Test (Data Entry)</a></li>
        <li><a class="small" app href=?/sdm-ii-b-post-word-pairs-set2-morning>Procedural Memory Test</a><mark class=text-danger>Is this correct?</mark></li>
        <li><a class="small" href=?/sdm-ii-b-post-procedural-memory-test-data>Procedural Memory Test (Data Entry)</a></li>
        <li><a class="small"  href=?/sdm-ii-b-post-aused-data>AusEd Driving Simulator</a></li>
        <li><a class="small"  href=?/sdm-ii-b-post-ess-data>The Epworth Sleepiness Scale (ESS)</a></li>
        <li><a class="small"  href=?/sdm-ii-b-post-isi-data>Insomnia Severity Index (ISI)</a></li>
        <li><a class="small"  href=?/sdm-ii-b-post-psqi-data>Pittsburg Sleep Quality Index (PSQI)</a></li>
        <li><a class="small"  href=?/sdm-ii-b-post-wtar-data>Wechsler Test of Adult Reading (WTAR)</a><mark class=text-danger>Need more Info</mark></li>
        <li><a class="small"  href=?/sdm-ii-b-post-hads-data> Hospital Anxiety and Depression Score (HADS)</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
</div>
<div class='nav__ID'>
    <span>Post CPAP 3 month PrePSG</span>
    <ul>
        <li><a class="small"  href=?/sdm-ii-3m-pre-ksd-data>Karolinska Sleep Diary</a><mark class=text-danger>For how many days?</mark></li>
        <li><a class="small"  href=?/sdm-ii-3m-pre-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li><a class="small" app href=?/sdm-ii-3m-pre-word-pairs-set1-evening>Declarative Memory Test (Word Pairs)</a><mark class=text-danger>Is this correct?</mark></li>
        <li><a class="small" href=?/sdm-ii-3m-pre-declarative-memory-test-data>Declarative Memory Test (Data Entry)</a></li>
        <li><a class="small" app href=?/sdm-ii-3m-pre-word-pairs-set2-evening>Procedural Memory Test</a><mark class=text-danger>Is this correct?</mark></li>
        <li><a class="small" href=?/sdm-ii-3m-pre-procedural-memory-test-data>Procedural Memory Test (Data Entry)</a></li>
        <li><a class="small"  href=?/sdm-ii-3m-pre-kss-data>Karolinska Sleepiness Scale (KSS)</a></li>
        <li><a class="small" >Karolinska Drowsiness Test (KDT) with high-density EEG</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Post CPAP 3 month hypoxaemic challenge test</span>
    <ul>
        <li><a class="small"  href=?/sdm-ii-3m-pwa-data>Pulse Wave Analysis</a></li>
        <li><a class="small"  href=?/sdm-ii-3m-vr1-data>Hypercapnic Hyperoxic Ventilatory Manoeuver</a></li>
        <li><a class="small"  href=?/sdm-ii-3m-fina1-data>Finapres</a></li>
        <li><a class="small"  href=?/sdm-ii-3m-nirs1-data>NIRS</a></li>
        <li><a class="small"  href=?/sdm-ii-3m-vr2-data>Hypercapnic Hypoxic Ventilatory Manoeuver</a></li>
        <li><a class="small"  href=?/sdm-ii-3m-fina2-data>Finapres</a></li>
        <li><a class="small"  href=?/sdm-ii-3m-nirs3-data>NIRS</a></li>
        <li><a class="small"  href=?/sdm-ii-3m-vr3-data>Hypoxic Isocapnic Ventilatory Manoeuver</a></li>
        <li><a class="small"  href=?/sdm-ii-3m-fina3-data>Finapres</a></li>
        <li><a class="small"  href=?/sdm-ii-3m-nirs3-data>NIRS</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Post CPAP 3 month PSG</span>
    <ul>
        <li><a class="small"  href=?/sdm-ii-3m-psg300-data>PSG upload</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Post CPAP 3 month PostPSG</span>
    <ul>
        <li><a class="small"  href=?/sdm-ii-3m-post-kss-data>Karolinska Sleepiness Scale (KSS)</a></li>
        <li><a class="small" >Karolinska Drowsiness Test (KDT) with high-density EEG</a></li>
        <li><a class="small"  href=?/sdm-ii-3m-post-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li><a class="small"  href=?/sdm-ii-3m-post-nback1-data>1-Back</a></li>
        <li><a class="small"  href=?/sdm-ii-3m-post-nback2-data>2-Back</a></li>
        <li><a class="small"  href=?/sdm-ii-3m-post-stroop-text-data>Stroop Text</a></li>
        <li><a class="small"  href=?/sdm-ii-3m-post-stroop-colour-data>Stroop Colour</a></li>
        <li><a class="small"  href=?/sdm-ii-3m-post-lct-data>Letter Cancellation Task</a></li>
        <li><a class="small" app href=?/sdm-ii-3m-post-word-pairs-set1-morning>Declarative Memory Test (Word Pairs)</a><mark class=text-danger>Is this correct?</mark></li>
        <li><a class="small" href=?/sdm-ii-3m-post-declarative-memory-test-data>Declarative Memory Test (Data Entry)</a></li>
        <li><a class="small" app href=?/sdm-ii-3m-post-word-pairs-set2-morning>Procedural Memory Test</a><mark class=text-danger>Is this correct?</mark></li>
        <li><a class="small" href=?/sdm-ii-3m-post-procedural-memory-test-data>Procedural Memory Test (Data Entry)</a></li>
        <li><a class="small"  href=?/sdm-ii-3m-post-aused-data>AusEd Driving Simulator</a></li>
        <li><a class="small"  href=?/sdm-ii-3m-post-ess-data>The Epworth Sleepiness Scale (ESS)</a></li>
        <li><a class="small"  href=?/sdm-ii-3m-post-isi-data>Insomnia Severity Index (ISI)</a></li>
        <li><a class="small"  href=?/sdm-ii-3m-post-psqi-data>Pittsburg Sleep Quality Index (PSQI)</a></li>
        <li><a class="small"  href=?/sdm-ii-3m-post-wtar-data>Wechsler Test of Adult Reading (WTAR)</a><mark class=text-danger>Need more Info</mark></li>
        <li><a class="small"  href=?/sdm-ii-3m-post-hads-data> Hospital Anxiety and Depression Score (HADS)</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
</div>